.sidebar-custom-icon {
    width: 28px;  
    height: 28px;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.nav-item {
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: background 0.3s;
}

.nav-item:hover .sidebar-custom-icon {
    transform: scale(1.1); 
}

.nav-item.active {
    background-color: rgba(255, 255, 255, 0.2); 
}

.sidebar {
    width: 80px;
    background-color: #5D2E8E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    position: fixed;
    height: 100vh;

    box-sizing: border-box;
}

.logout-btn {
    background: none;
    border: none;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
    border-radius: 15px;
    margin: 0 auto; 
}

.logout-btn:hover {
    transform: scale(1.1); 
}

.logout-btn:active{
    background-color: rgba(255, 255, 255, 0.2); 
}