.admin-card{
    background-color: white;
    border-radius: 35px;
    padding: 22px;
}

.admin-title{
    color: #4F169E;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 25px;
}

.admin-tabs{
    display: flex;
    gap: 10px;
    border: 2px solid #4F169E;
    border-radius: 50px;
    justify-content: space-evenly;
}

.tab-item{
    background: none;
    border: none;
    padding: 10px 25px;
    border-radius: 40px;
    color: #4F169E;
    font-weight: 300;
    cursor: pointer;
    font-size: 15px;
}

.tab-item.active {
    background-color: #EDE4F5;
    border: 1.5px solid #4F169E;
}

.admin-filters{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 17px;

}

.filter-input {
    border: 2px solid #5D2E8E;
    border-radius: 20px;
    padding: 12px 20px;
    flex: 1;
    color: #4F169E;
    margin-right: 17px;
}

.apply-search-btn{
    background-color: #A779E6;
    font-size: 15px;
    border-radius: 13px;
    border: none;
    padding: 0px 8px;
}

.search-btn-icon{
    width: 20px;
    height: 20px;
    transform: translateY(5px);
}

.edit-input {
    width: 100%;
    border: 1px solid #A384D6;
    border-radius: 8px;
    padding: 5px 10px;
    color: #4B2C92;
    background-color: #F9F5FF;
     box-sizing: border-box;
}

.actions-cell{
    width: 110px;
    text-align: center;
}

.actions-wrapper{
    display: flex;
    gap: 8px;
}

.actions-cell button{
    margin-right: 6px;
}

.admin-table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

}

.admin-table th:last-child,
.admin-table td:last-child{
    width: 95px;
}

.admin-table th,
.admin-table td{
    padding: 12px 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-container{
    width: 100%;
    overflow-x: auto;
}

.admin-table thead{
    background-color: #F5F0FF;
}

.admin-table th{
    color: #4F169E;
    font-weight: 600;
}

.admin-table tbody tr:hover{
    background-color: #F9F5FF;
}

.edit-btn-icon, .delete-btn-icon{
    width: 27px;
    height: 27px;
}

.edit-btn{
    background-color: #FF7D43;
    border: none;
}

.delete-btn{
    background-color: #FF0000;
    border: none;
}

.modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 25px;
    width: 450px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

.add-entity-btn {
    background-color: #4F169E;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s;
    height: 43px;
    margin-top: 15px;
}

.table-first-row{
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    color: #4B2C92;
    font-weight: 500;
}

.form-group input {
    padding: 10px;
    border: 1.5px solid #EDE4F5;
    border-radius: 10px;
}

.modal-actions {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.modal-actions button {
    padding: 12px 24px;
    border: none;
    border-radius: 15px;       
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.confirm-btn {
    background-color: #4CAF50; 
    color: white;
    box-shadow: 0 4px 10px rgba(76, 175, 80, 0.2);
}

.confirm-btn:hover {
    background-color: #43A047;
    transform: translateY(-2px); 
    box-shadow: 0 6px 15px rgba(76, 175, 80, 0.3);
}

.cancel-btn {
    background-color: #EDE4F5; 
    color: #5D2E8E;           
}

.cancel-btn:hover {
    background-color: #E2D5F0;
    color: #4B2C92;
    transform: translateY(-2px);
}

